@model IEnumerable<CapaEntidad.TABLAREPORTE>

@{
    ViewBag.Title = "TablaReporteView";
    Layout = "~/Views/Shared/_SearchBarTable.cshtml";
}

<div style="padding: 100px;" class="d-flex flex-column align-items-center">
    <h2>Productos reportados</h2>
    <hr />

    <table class="table table-striped table-hover">
        <tr>
            <th>
                <span>Num. Reporte</span>
            </th>
            <th>
                <span>Articulo</span>
            </th>
            <th>
                <span>Cantidad de Reportes</span>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reportes)
        </td>
        <td>
            @if (item.Reportes >= 3)
            {

                @Html.ActionLink("DESHABILITAR PRODUCTO", "DeshabilitarProductos", new { id = item.IDProducto }, new { @class = "btn btn-warning" })
            }

            @Html.ActionLink("ELIMINAR REPORTES", "EliminarReportes", new { id = item.IDProducto }, new { @class = "btn btn-danger" })
        </td>
  

    </tr>
        }

    </table>
</div>
